<div class="form-group">
  <label for="name">Name</label>
  <input type="text" [(ngModel)]="Name" class="form-control" id="name" aria-describedby="name" placeholder="Enter name" required>
</div>
<div class="form-group">
  <label for="description">Description</label>
  <textarea [(ngModel)]="Description" class="form-control" id="description" aria-describedby="description" placeholder="Enter description"></textarea>
</div>
<div class="form-group">
  <label for="priority">Priority</label>
  <input type="number" min="1" [(ngModel)]="Priority" class="form-control" id="priority" aria-describedby="priority" placeholder="Enter priority" required>
</div>
<div class="form-group">
  <label for="timespan">Timespan</label>
  <input type="date" [(ngModel)]="Date" min="{{Today}}" class="form-control"  id="timespan" aria-describedby="timespan" placeholder="Enter timespan" required>
  <ngb-timepicker [(ngModel)]="Time" [seconds]="true"></ngb-timepicker>
  <small id="timespanHelp" class="form-text text-muted">Time as full in future to start coundown to</small>
</div>

<button type="submit" class="btn btn-primary"  (click)="create()">Submit</button>