<ngb-tabset>
  <ngb-tab title="Add New Task">
    <ng-template ngbTabContent>
      <app-newtask></app-newtask>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Task List">
    <ng-template ngbTabContent>
      <div class="row">
        <app-tasklist></app-tasklist>
      </div>
      <div class="row">
        <app-currenttask></app-currenttask>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="User Settings" [disabled]="true">
    <ng-template ngbTabContent>
      <p>TODO</p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

