/* You can add global styles to this file, and also import other style files */

@import 'app/app.component.css';
@import 'app/board//board.component.css';

body { 
    padding-top: 2rem;
    padding-bottom: 2rem;
}